* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ca4d4d;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #000000;
}

#about-me {
    margin-bottom: 20px;
}

#about-me p {
    margin-top: 10px;
}

#skills {
    margin-bottom: 20px;
}

#skills h2 {
    font-size: 2em;
    color: #000000;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 5px;
}

.skill p, .skill ul {
    font-size: 1.1em;
    color: #ffffff;
    margin-left: 20px;
}

.skill ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
    color: #000000;
}
